/* General Styles */
body {
    font-family: 'Inria Serif';
    background-color: #f8f9fa;
}


/* Footer Styles */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.nav-link{
  font-family: 'Inria Serif';
  font-size: 22px;
  border: black;
  border-radius: 10px;
}

 /* About Section */
 .about-section {
    padding: 150px 0;
    background: #f1f2f6;
    text-align: center;
  }
  .about-section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
  }
   /* Footer */
 footer {
   background: #0d0d0d;
   color: #fff;
   padding: 20px 0;
   text-align: center;
 }